.root{
    -fx-background-color: grey;
}

#button {
    -fx-font: bold italic 15pt "Arial";
    -fx-background-color:transparent;
    -fx-effect: dropshadow( one-pass-box , yellow, 8 , 0.0 , 2 , 0 );
}

#button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#label{
    -fx-alignment: CENTER;
    -fx-effect: dropshadow( one-pass-box , red, 8 , 0.0 , 2 , 0 );
    -fx-font: italic 15pt "Arial";
}